# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Scheduled Tests for Demo Purposes

on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Run variety of tests for Demo purposes
      if: always()
      env:
        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
      run: |
        mvn test -pl selenium-examples -Dtest=SeleniumLoginTest
        mvn test -pl selenium-testng-examples -Dtest=CrossBrowserPlatformTest
        mvn test -pl selenium-testng-examples -Dtest=ParallelSingleBrowserTest
        mvn test -pl appium-examples -Dtest=AndroidNativeAppTest
        mvn test -pl appium-examples -Dtest=IOSNativeAppTest
